h1{
    height: 50vh;
    padding-top: 10vh;
    position: absolute;
    width: 100%;
    text-align: center;
    color: yellow;
    font-size: 4em;
}

body{
    background-image: url(./background.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.pad {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 80ms;
}


kbd {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.description{
    color: yellow;
}


.playing{
    transform: scale(1.05);
    background-color: lightyellow;
    border-color: yellow;
    box-shadow: 0px 0px 20px yellow;
};